<span class="mine">
<% workspaces._mine.sorted.each do |workspace| %>
  <div class="row none-margin">
    <div class="col-sm-1 none-padding icons">
      <%= link_to workspace_path(workspace.id, workspace: {pin: !workspace.pin}),
                  method: :put,
                  remote: true,
                  class: 'decoration-none' do %>
        <i class="fas fa-thumbtack pin <%= workspace.pin %>"></i>
      <% end %>
      <%= link_to workspace_emotion_path(
              workspace.id, :favorite,
              {type: workspace.my_favorite.present? ? :delete : :create}
            ),
            method: :put,
            remote: true,
            class: 'decoration-none' do %>
        <i class="fas fa-star star <%= workspace.my_favorite.present? %>"></i>
      <% end %>
    </div>
    <% if workspace.share %>
      <div class="col-sm-2 public">
      <%= link_to "[PUBLIC]",
                  workspace_path(workspace.id, workspace: {share: false}),
                  method: :put,
                  remote: true %>
      </div>
    <% else %>
      <div class="col-sm-2 private">
      <%= link_to "[PRIVATE]",
                  workspace_path(workspace.id, workspace: {share: true}),
                  method: :put,
                  remote: true %>
      </div>
    <% end %>
    <div class="col-sm-5 none-padding">
      <span class="name"><%= workspace.name %></span>
        <% if workspace.like_count > 0 %>
          <span class="thumbs-up active">
            <i class="fas fa-thumbs-up icon"></i>
            <span class="count"><%= workspace.like_count %></span>
          </span>
        <% end %>
    </div>
    <div class="col-sm-2 restore">
      <%= link_to "Restore",
                  edit_workspace_path(workspace.id),
                  method: :get,
                  id: "restore",
                  remote: true %>
    </div>
    <div class="col-sm-2 destroy">
      <%= link_to "Destroy",
                  workspace,
                  method: :delete,
                  data: { confirm: "Are you sure?" },
                  remote: true %>
    </div>
  </div>
<% end %>
</span>
<span class="share">
<% workspaces._theirs._share.sorted.each do |workspace| %>
  <div class="row none-margin">
    <div class="col-sm-1 none-padding icons">
      <%= link_to workspace_path(workspace.id, workspace: {pin: !workspace.pin}),
                  method: :put,
                  remote: true,
                  class: 'decoration-none' do %>
        <i class="fas fa-thumbtack pin <%= workspace.pin %>"></i>
      <% end %>
      <%= link_to workspace_emotion_path(
              workspace.id, :favorite,
              {type: workspace.my_favorite.present? ? :delete : :create}
            ),
            method: :put,
            remote: true,
            class: 'decoration-none' do %>
        <i class="fas fa-star star <%= workspace.my_favorite.present? %>"></i>
      <% end %>
    </div>
    <div class="col-sm-3 user-name">
      <%= workspace.user_name %>
    </div>
    <div class="col-sm-6 none-padding">
      <span class="updated-at"
            title="<%= workspace.created_at.strftime('%Y/%m/%d %H:%M') %>">
        [<%= workspace.created_at.strftime('%m/%d') %>]
      </span>
      <span class="workspace-name"><%= workspace.name %></span>
      <%= link_to workspace_emotion_path(
              workspace.id, :like,
              {type: workspace.my_like.present? ? :delete : :create}
            ),
            method: :put,
            remote: true,
            class: 'decoration-none' do %>
        <span class="thumbs-up <%= workspace.my_like.present? ? 'active' : '' %>">
          <i class="fas fa-thumbs-up icon"></i>
          <span class="count"><%= workspace.like_count if workspace.like_count > 0 %></span>
        </span>
      <% end %>
    </div>
    <div class="col-sm-2 restore">
      <%= link_to "Restore",
                  "javascript:
                    Code.workspace.clear();
                    Blockly.Xml.domToWorkspace(Blockly.Xml.textToDom(
                      '#{ workspace.xml }'),Code.workspace
                    );" %>
    </div>
  </div>
<% end %>
</span>
