<table width="100%" height="100%">
  <tr>
    <td>
      <h1>Mine Blockly</h1>

      <%= form_tag(run_blockly_index_path, remote: true, class: "flat") do %>
        <button id="runButton" class="notext primary" title="...">
          <%= image_tag("blockly/1x1.gif", :class => "run icon21") %>
        </button>
        <div id="runParams"></div>
        <%= token_tag %>
      <% end %>

      <button id="trashButton" class="notext" title="...">
        <%= image_tag("blockly/1x1.gif", :class => "trash icon21") %>
      </button>
    </td>
  </tr>
  <tr>
    <td colspan=2>
      <table width="100%">
        <tr id="tabRow" height="1em">
          <td id="tab_blocks" class="tabon">...</td>
          <td class="tabmin">&nbsp;</td>
          <td id="tab_javascript" class="taboff">JavaScript</td>
          <td class="tabmin">&nbsp;</td>
          <td id="tab_xml" class="taboff">XML</td>
          <td class="tabmax">
            <!-- <button id="linkButton" class="notext" title="...">
              <%= image_tag("blockly/1x1.gif", :class => "link icon21") %>
            </button> -->
            <span class="local-starage-btns">
              <button id="saveButton">Save</button>
              <button id="restoreButton">Restore</button>
            </span>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td height="99%" colspan=2 id="content_area">
    </td>
  </tr>
</table>
<div id="content_blocks" class="content"></div>
<pre id="content_javascript" class="content"></pre>
<pre id="content_python" class="content"></pre>
<pre id="content_php" class="content"></pre>
<pre id="content_lua" class="content"></pre>
<pre id="content_dart" class="content"></pre>
<textarea id="content_xml" class="content" wrap="off"></textarea>

<div id="restoreModal" class="restore-modal">
  <div class="modal-window">
    <div class="modal-header">Saved programs</div>
    <ul id="restoreList" class="program-list"></ul>
    <div class="modal-footer">
      <a id="closeModal">Cancel</a>
    </div>
  </div>
</div>

<xml id="toolbox" style="display: none">
  <category name="Minetest TechMage" colour="%{BKY_COLOUR_HUE}">
    <block type="minetest_add_node">
      <value name="material">
        <block type="minetest_dirt_block"></block>
      </value>
      <value name="x">
        <shadow type="math_number">
          <field name="NUM">0</field>
        </shadow>
      </value>
      <value name="y">
        <shadow type="math_number">
          <field name="NUM">0</field>
        </shadow>
      </value>
      <value name="z">
        <shadow type="math_number">
          <field name="NUM">0</field>
        </shadow>
      </value>
    </block>

    <block type="minetest_add_text_node">
  	  <value name="x">
        <shadow type="math_number">
          <field name="NUM">0</field>
        </shadow>
      </value>
      <value name="y">
        <shadow type="math_number">
          <field name="NUM">0</field>
        </shadow>
      </value>
      <value name="z">
        <shadow type="math_number">
          <field name="NUM">0</field>
        </shadow>
      </value>
  	  <value name="dx">
        <shadow type="math_number">
          <field name="NUM">0</field>
        </shadow>
      </value>
      <value name="dy">
        <shadow type="math_number">
          <field name="NUM">0</field>
        </shadow>
      </value>
      <value name="dz">
        <shadow type="math_number">
          <field name="NUM">0</field>
        </shadow>
      </value>
    </block>

    <block type="minetest_add_entity">
      <value name="entity">
        <block type="minetest_sheep_entity"></block>
      </value>
      <value name="x">
        <shadow type="math_number">
          <field name="NUM">0</field>
        </shadow>
      </value>
      <value name="y">
        <shadow type="math_number">
          <field name="NUM">0</field>
        </shadow>
      </value>
      <value name="z">
        <shadow type="math_number">
          <field name="NUM">0</field>
        </shadow>
      </value>
    </block>
    <block type="minetest_move_forward"></block>
    <block type="minetest_turn">
      <field name="ACTION">turnLeft();</field>
    </block>
    <block type="minetest_turn">
      <field name="ACTION">turnRight();</field>
    </block>

    <block type="minetest_wait">
      <value name="seconds">
        <shadow type="math_number">
          <field name="NUM">1</field>
        </shadow>
      </value>
    </block>
    <block type="minetest_play_sound"></block>
    <block type="minetest_place">
      <value name="material">
        <block type="minetest_dirt_block"></block>
      </value>
    </block>
    <block type="minetest_place_ahead">
      <value name="material">
        <block type="minetest_dirt_block"></block>
      </value>
    </block>
  </category>

  <category name="Minetest Blocks" colour="%{BKY_COLOUR_HUE}">
    <block type="minetest_materials"></block>
    <block type="minetest_wool_random_block"></block>
    <block type="minetest_wool_white_block"></block>
    <block type="minetest_wool_grey_block"></block>
    <block type="minetest_wool_dark_grey_block"></block>
    <block type="minetest_wool_black_block"></block>
    <block type="minetest_wool_blue_block"></block>
    <block type="minetest_wool_cyan_block"></block>
    <block type="minetest_wool_green_block"></block>
    <block type="minetest_wool_dark_green_block"></block>
    <block type="minetest_wool_yellow_block"></block>
    <block type="minetest_wool_orange_block"></block>
    <block type="minetest_wool_brown_block"></block>
    <block type="minetest_wool_red_block"></block>
    <block type="minetest_wool_pink_block"></block>
    <block type="minetest_wool_magenta_block"></block>
    <block type="minetest_wool_violet_block"></block>
    <block type="minetest_air_block"></block>
    <block type="minetest_bookshelf_block"></block>
    <block type="minetest_brick_block"></block>
    <block type="minetest_dirt_block"></block>
    <block type="minetest_glass_block"></block>
    <block type="minetest_stone_block"></block>
    <block type="minetest_wood_block"></block>
    <block type="minetest_gold_block"></block>
    <block type="minetest_diamond_block"></block>
  </category>

  <category name="Minetest Entities" colour="%{BKY_COLOUR_HUE}">
    <block type="minetest_chicken_entity"></block>
    <block type="minetest_sheep_entity"></block>
  </category>

  <category name="%{BKY_CATLOGIC}" colour="%{BKY_LOGIC_HUE}">
    <block type="controls_if"></block>
    <block type="logic_compare"></block>
    <block type="logic_operation"></block>
    <block type="logic_negate"></block>
    <block type="logic_boolean"></block>
  </category>

  <category name="%{BKY_CATLOOPS}" colour="%{BKY_LOOPS_HUE}">
    <block type="controls_repeat_ext">
      <value name="TIMES">
        <shadow type="math_number">
          <field name="NUM">10</field>
        </shadow>
      </value>
    </block>

    <block type="controls_for">
      <value name="FROM">
        <block type="math_number">
          <field name="NUM">1</field>
        </block>
      </value>
      <value name="TO">
        <block type="math_number">
          <field name="NUM">10</field>
        </block>
      </value>
      <value name="BY">
        <shadow type="math_number">
          <field name="NUM">1</field>
        </shadow>
      </value>
    </block>
  </category>

  <category name="%{BKY_CATMATH}" colour="%{BKY_MATH_HUE}">
    <block type="math_number"></block>

    <block type="math_change">
      <value name="DELTA">
        <block type="math_number">
          <field name="NUM">1</field>
        </block>
      </value>
    </block>

    <block type="math_arithmetic">
      <value name="A">
        <shadow type="math_number">
          <field name="NUM">0</field>
        </shadow>
      </value>
      <value name="B">
        <shadow type="variables_get">
          <field name="VAR">i</field>
        </shadow>
      </value>
    </block>

    <block type="math_modulo">
      <value name="DIVIDEND">
        <shadow type="variables_get">
          <field name="VAR">i</field>
        </shadow>
      </value>
      <value name="DIVISOR">
        <shadow type="math_number">
          <field name="NUM">3</field>
        </shadow>
      </value>
    </block>

    <block type="math_random_int">
      <value name="FROM">
        <shadow type="math_number">
          <field name="NUM">-1</field>
        </shadow>
      </value>
      <value name="TO">
        <shadow type="math_number">
          <field name="NUM">1</field>
        </shadow>
      </value>
    </block>
  </category>

  <sep></sep>
  <category name="%{BKY_CATVARIABLES}" colour="%{BKY_VARIABLES_HUE}" custom="VARIABLE"></category>
  <category name="%{BKY_CATFUNCTIONS}" colour="%{BKY_PROCEDURES_HUE}" custom="PROCEDURE"></category>
</xml>
